*.o
*.a
*.cmd
.config
.config.old
include/config
include/generated
scripts/basic/fixdep
scripts/kconfig/conf
scripts/kconfig/lexer.lex.c
scripts/kconfig/parser.tab.c
scripts/kconfig/parser.tab.h
spl*
